[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = https://github.com/symfony/symfony1.git
[submodule "plugins/sfFormExtraPlugin"]
	path = plugins/sfFormExtraPlugin
	url = git@gitlab.tgprojets.fr:tgilbert/sfFormExtraPlugin.git
[submodule "plugins/sfThumbnailPlugin"]
	path = plugins/sfThumbnailPlugin
	url = git@gitlab.tgprojets.fr:tgilbert/sfThumbnailPlugin.git
[submodule "plugins/sfDoctrineGuardPlugin"]
	path = plugins/sfDoctrineGuardPlugin
	url = git@gitlab.tgprojets.fr:tgilbert/sfGuardDoctrinePlugin.git
[submodule "plugins/sfTCPDFPlugin"]
	path = plugins/sfTCPDFPlugin
	url = git@gitlab.tgprojets.fr:tgilbert/sfTCPDFPlugin.git
