/cache/*
/log/*
/config/databases.yml
/lib/*/doctrine/base/
/lib/*/doctrine/*/base
/data/sql/*
/data/dump/*
/web/uploads/*
/web/cache/*
web/sfFormExtraPlugin
web/sfDoctrinePlugin
web/sfTCPDFPlugin
Capfile
.tags
