
th,td{border:1px solid #000;padding:.5em;}

/*******************
Theme admin generator
**************/
#sf_admin_container table {
    width: 100%;
}
#sf_admin_container h1
{
  display:block;
  font-size: 2em;
  color: #083a99;
  text-shadow: 2px 2px 4px #b0aeae ;
  padding: 4px 10px;
  margin: 20px 0;
  text-align:left;
}

#sf_admin_container td, #sf_admin_container th
{
  text-align: left;
  vertical-align: top;
  color: #fff;
  border: 0px;
}
#sf_admin_container th a {
  color: #fff;
  text-decoration: none;
}
#sf_admin_container th a:hover {
  text-decoration: underline;
}
#sf_admin_container td {
    color: #000;
}
#sf_admin_container thead{
    background-color: #083a99;
}
#sf_admin_content tfoot{
    background-color: #083a99;
}
#sf_admin_container th
{
  color: #fff;
  white-space: nowrap;
  border: 0px;
}
#sf_admin_container td a
{
  color: #000;
}
#sf_admin_container tr
{
  border: 0px;
}

#sf_admin_container ul.error_list
{
  margin: 0;
  color: #a71418;
  border: none;
}

#sf_admin_container ul.error_list li
{
  margin: 4px 0;
  padding: 4px 4px 4px 30px;
  background: url(../images/error.png) no-repeat 4px 4px;
  list-style: none;
}

#sf_admin_container td ul.error_list li {
  padding-left: 20px;
}

#sf_admin_container input[type=file]
{
  color: #000;
  width: 300px;
  padding-left: 10px;
}

#sf_admin_container input[type=text], #sf_admin_container input[type=password]
{
  position: relative;
  width: 210px;
  font-size: 14px;
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #DDD), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #DDD 1px, #FFFFFF 25px);
  -pie-background: linear-gradient(#FFFFFF, #DDD);
  behavior: url(/PIE.htc);
  border: 1px solid #E5E5E5;
  display: block;
  float: left;
  font: normal normal normal 14px/100% Verdana, Tahoma, sans-serif;
  outline: 0px;
  padding: 7px;
}

#sf_admin_container input.noname_input_petit {
  width: 20px;
}

#sf_admin_container textarea {
  width: 300px;
  height: 90px;
}

#sf_admin_container .radio_list, #sf_admin_container .checkbox_list
{
  margin: 0;
}

#sf_admin_container .radio_list li, #sf_admin_container .checkbox_list li
{
  list-style: none;
  display: inline;
}

#sf_admin_container .double_list_select, #sf_admin_container .double_list_select-selected
{
  width: 12em;
}
.double_list_select, .double_list_select-selected {
  width: 12em;
}

#sf_admin_container .double_list_label
{
  font-weight: bold;
}

#sf_admin_container tfoot td
{
  margin: 0;
  list-style: none;
  text-align: right;
}

#sf_admin_container thead img, #sf_admin_container tfoot img
{
  vertical-align: middle;
}

#sf_admin_container
{
  margin-left: 20px;
  margin-right: 20px;
}
#sf_admin_bar
{
  min-height: 100px;
  width: 80%;
  float: none;
  margin-left: 20px;
  margin-bottom:  20px;
}
#sf_admin_bar .sf_admin_filter {
  position: relative;
  -moz-border-radius:0 16px 0 16px;
  -webkit-border-radius:0 16px 0 16px;
  border-radius: 0 16px 0 16px;
  behavior: url(/PIE.htc);
  -moz-box-shadow: 4px 4px 6px #aaa;
  -webkit-box-shadow: 4px 4px 6px #aaa;
  box-shadow: 4px 4px 6px #555;
  background-color: #fff;
}
.sf_admin_pagination
{
  float: right;
}

#sf_admin_container ul.sf_admin_td_actions
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#sf_admin_container ul.sf_admin_td_actions li
{
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  font-size: 100%;
}
#sf_admin_container ul.sf_admin_td_actions li a {
    color: #000;
}
#sf_admin_container ul.sf_admin_td_actions li a:hover {
    color: #871628;
}
#sf_admin_container ul.sf_admin_actions
{
  margin: 20px 0;
  list-style-type: none;
}

#sf_admin_container ul.sf_admin_actions li
{
  list-style-type: none;
  display: inline;
  margin-right: 10px;
}

#sf_admin_container td ul li a
{
  color: #fff;
}

.sf_admin_actions .sf_admin_action_new a, .sf_admin_actions .sf_admin_action_delete a, .sf_admin_actions .sf_admin_action_list a, .sf_admin_actions .sf_admin_action_managetree a, input[type=submit]
{
  position: relative;
  border: none;
  height: 20px;
  margin: 0;
  padding: 4px 10px 4px 10px;
  text-align: center;
  margin-left: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#083a99), to(#7f8bff));
  background: -moz-linear-gradient(top, #083a99, #7f8bff);
  -pie-background: linear-gradient(#083a99, #7f8bff);
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  behavior: url(/PIE.htc);
  -moz-box-shadow: 4px 4px 6px #aaa;
  -webkit-box-shadow: 4px 4px 6px #aaa;
  box-shadow: 4px 4px 6px #aaa;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 16px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
}
input[type=submit] {
  height: 25px;
}

#sf_admin_container td ul li.sf_admin_action_delete a
{
  color: #000;
  background: url(../images/delete.png) no-repeat 0 0;
  padding-left: 20px;
}

#sf_admin_container td ul li.sf_admin_action_delete a:hover
{
  color: #871628;
}

.sf_admin_actions .sf_admin_action_new a:hover, .sf_admin_actions .sf_admin_action_delete a:hover, .sf_admin_actions .sf_admin_action_list a:hover, .sf_admin_actions .sf_admin_action_managetree a:hover, input[type=submit]:hover
{
  position: relative;
  border-top-color: #80cd80;
  background: #636fe0;
  cursor: pointer;
  color: #E9E338;
  text-shadow: 2px 2px 4px black;
  -moz-box-shadow: 2px 2px 3px #aaa;
  -webkit-box-shadow: 2px 2px 3px #aaa;
  box-shadow: 2px 2px 3px #aaa;
  behavior: url(/PIE.htc);
}

#sf_admin_container ul li.sf_admin_action_edit a
{
  color: #000;
  background: url(../images/edit.png) no-repeat 0 0;
  padding-left: 20px;
}
#sf_admin_container ul li.sf_admin_action_edit a:hover
{
  color: #871628;
}

#sf_admin_container .notice
{
  position: relative;
  margin: 4px 0;
  padding: 4px 4px 4px 30px;
  background: #f9ffce url(../images/tick.png) no-repeat 10px 4px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  behavior: url(/PIE.htc);
  border: 2px #3d3533 solid;
  color: #000;
}

#sf_admin_container .error
{
  position: relative;
  color: #A71418;
  margin: 4px 0;
  padding: 6px 6px 6px 30px;
  background: #f9ffce url(../images/error.png) no-repeat 6px 6px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  behavior: url(/PIE.htc);
  border: 2px #A71418 solid;
  margin: 4px 20px;
  list-style: none;
}
#sf_admin_content .sf_admin_row {
  background-color: #fff;
}

#sf_admin_container fieldset h2
{
  padding: 3px;
  color: #333;
  background-color: #d4d5d1;
  font-size: 14px;
  margin: 0;
}

#sf_admin_container fieldset
{
  border-bottom: 0px;
  background-color: #fff;
}

#sf_admin_container fieldset.collapsed * { display:none; }
#sf_admin_container fieldset.collapsed h2, #sf_admin_container fieldset.collapsed { display:block !important; }
#sf_admin_container fieldset.collapsed .collapse-toggle { display: inline !important; }
#sf_admin_container fieldset.collapse h2 a.collapse-toggle { color:#ffc; }
#sf_admin_container fieldset.collapse h2 a.collapse-toggle:hover { text-decoration:underline; }

#sf_admin_container label
{
  display: block;
  padding: 0 1em 3px 0;
  margin-top: 10px;
  float: left;
  width: 13em;
  color: #000;
  font-size: 14px;
  font-weight: normal !important;
}
#sf_admin_container .content label {
  display: inline;
  float: none;
}
#sf_admin_container ul label, #sf_admin_container td label
{
  display: inline;
  float: none !important;
}
#sf_admin_bar th label {
  color: #fff;
}
th td {
    padding: 0.5em;
}
#sf_admin_container .sf_admin_form_row
{
  padding: 10px;
  border: none;
  height: auto !important;
  overflow: hidden;
  border-bottom: none;
  color: #000;
}

#sf_admin_container .sf_admin_form_row div {
  position: relative;
  float: left;
  height: auto;
  margin-top:4px;
  margin-bottom:4px;
}
#sf_admin_container .sf_admin_form_row .content
{
  position: relative;
  float: left;
  width: 340px;
}
#sf_admin_container .help
{
  position: relative;
  float: left;
  margin-top: 5px;
  margin-left: 1em;
  padding-left: 20px;
  padding-top: 2px;
  font-style: italic;
  color: #000;
  height: 30px;
  background: url('../images/help.png') no-repeat;
  background-position-x: 0;
  background-position-y: 50%;

}
#sf_admin_container td .help
{
  padding-left: 0;
}

#sf_admin_container .errors input, #sf_admin_container .errors select
{
  border: 1px solid #f22;
}

#sf_admin_container select {
  height: 25px;
  font-size: 14px;
  min-width: 110px;
  width: auto !important;
  width: 110px;

}
#sf_admin_container select[multiple] {
  height: 150px;
  font-size: 14px;
  width: 210px;
  width: auto !important;
  min-width: 210px;
  background-color: #fff;
}
#sf_admin_container select[multiple] option[selected]{
  background-color: #b8b9bc;
}
#sf_admin_container .sf_admin_list .sf_admin_boolean
{
  text-align: center;
}
#sf_admin_container .sf_admin_list {
  position: relative;
  -moz-box-shadow: 4px 4px 6px #aaa;
  -webkit-box-shadow: 4px 4px 6px #aaa;
  box-shadow: 4px 4px 6px #aaa;
  behavior: url(/PIE.htc);
  margin-bottom: 10px;
  background-color: #fff;
}

#sf_admin_bar tf {
  background-color: #565656;
}

#sf_admin_container .sf_admin_form_row {
  border-bottom: 0px;
  border: none;
}
#sf_admin_container fieldset {
  position: relative;
  border: 0px;
  border-style: none;
  background-color: #F6F9FB;
  padding-bottom: 10px;
  margin-bottom: 20px;
  -moz-box-shadow: 4px 4px 6px #aaa;
  -webkit-box-shadow: 4px 4px 6px #aaa;
  box-shadow: 4px 4px 6px #aaa;
  behavior: url(/PIE.htc);
}
table.mceToolbar, .defaultSkin tr.mceFirst .mceToolbar tr td, .defaultSkin tr.mceLast .mceToolbar tr td {
  padding: 0;
}
.defaultSkin .mceStatusbar {
  background: #d4d5d1;
}

.defaultSkin .mceToolbar {
  background: #d4d5d1;
}

.defaultSkin .mceToolbar td {
  background: #d4d5d1;
}
#sf_admin_container form {
  margin-top: 10px;
}
#sf_admin_container .sf_admin_actions form label{
  color: #fff;
}

#sf_admin_container form input[type=text]{
  width: 200px;
}
#sf_fieldset_international
 {
  min-width: 1060px;
  width: auto !important;
  width: 1060px;
  height: auto;
}
.sf_admin_form_field_fr {
  position: relative;
  float: left;
  margin: 0px;
  padding: 0px;
  width: 510px;
  height: auto;
}
#sf_fieldset_international label {
  width: 90%;
}
.sf_admin_form_field_en {
  position: relative;
  float: left;
  width: 510px;
  margin: 0px;
  padding: 0px;
  height: auto;
}

.sf_admin_action_insert_node button, .sf_admin_action_delete_node button {
  position: relative;
  border: none;
  height: 25px;
  margin: 0;
  padding: 4px 10px 4px 10px;
  text-align: center;
  margin-left: 10px;
  background: #f96262;
  background: -webkit-gradient(linear, left top, left bottom, from(#083a99), to(#f96262));
  background: -moz-linear-gradient(top, #083a99, #f96262);
  -pie-background: linear-gradient(#083a99, #7f8bff);
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  behavior: url(/PIE.htc);
  -moz-box-shadow: 4px 4px 6px #aaa;
  -webkit-box-shadow: 4px 4px 6px #aaa;
  box-shadow: #e9e338 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 16px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
}

.sf_admin_action_insert_node button:hover, .sf_admin_action_delete_node button:hover {
  position: relative;
  border-top-color: #ad8484;
  background: #cd5858;
  cursor: pointer;
  color: #E9E338;
  text-shadow: 2px 2px 4px black;
  -moz-box-shadow: 2px 2px 3px #aaa;
  -webkit-box-shadow: 2px 2px 3px #aaa;
  box-shadow: 2px 2px 3px #aaa;
  behavior: url(/PIE.htc);
}

#sf_admin_container .sf_admin_actions #tbl_categorie_root_create label {
  color: black;
  padding-top: 6px;
}

#sf_admin_container .article_textarea {
  height: 600px;
  width: 800px;
}

#sf_admin_content .value_form {
  float: left;
  height: 20px;
  margin: 0;
  padding: 10px 10px 4px 10px;
  margin-left: 10px;
  font-size: 14px;
  font-family: Helvetica, Arial, Sans-Serif;
  width: 200px;
}

.button_right {
  float: right;
  padding-right: 40px;
  padding-bottom: 10px;
}

.text_show {
  display: block;
  padding: 0 1em 3px 0;
  margin-top: 10px;
  float: left;
  width: 13em;
  color: black;
  font-size: 14px;
  font-weight: normal !important;
}

#sf_admin_container .line_licence_cancel {
  background: #943c3c;
}
#sf_admin_container .line_licence_dette {
  background: #d4b1ff;
}
#sf_admin_container .line_licence_brouillon {
  background: #91b8ff;
}
#sf_admin_container .line_licence_notvalide {
  background: #edeac2;
}
#sf_admin_container .line_licence_valide {
  background: #fff;
}

#sf_admin_header {
  min-height: 30px;
  width: 100%;
  float: none;
  margin-bottom: 10px;
}

#sf_admin_header .legende_licence_list {
  position: relative;
  list-style: none;
  float: left;
  width: 100%;
  overflow: hidden;
}

#sf_admin_header .legende_licence_list li {
  position: relative;
  float: left;
  width: 180px;
  height: 20px;
  padding: 2px 4px;
  margin-right: 2px;
}

.down_rank {
  padding-left: 20px;
  background: url('../images/down.png') no-repeat;
}

.up_rank {
  padding-left: 20px;
  background: url('../images/up.png') no-repeat;
}

.print_icon {
  padding-left: 20px;
  background: url('../images/print.png') no-repeat;
}

.cancel_icon {
  padding-left: 20px;
  background: url('../images/cancel.png') no-repeat;
}

.valide_icon {
  padding-left: 20px;
  background: url('../images/valide.png') no-repeat;
}

.zoom_icon {
  padding-left: 20px;
  background: url('../images/zoom.png') no-repeat;
}

.image_profil {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 100px;
}
.image_profil_view {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 50px;
}
#sf_admin_container .line_view .sf_admin_form_row {
  margin: 0;
  padding: 0 10px;
}